config t
hostname {{ node.hostname }}
!
no ip domain-lookup
!
{% if node.ldp_id %}mpls ldp router-id {{ node.ldp_id }} force{% endif %}
!{% for loopback in node.loopbacks %}
interface {{ loopback.id }}
 description Management Uplink
 ip address {{ loopback.ipv4_address }} 255.255.255.255{% if loopback.ospfv2 %}
 ip ospf network {{ loopback.ospfv2.network_type }}
 ip ospf {{ loopback.ospfv2.pid }} area {{ loopback.ospfv2.area_id }}{% endif %}
!{% endfor %}{% for link in node.interfaces %}
!
interface {{ link.id }}
 ip address {{ link.ipv4_address }} {{ link.ipv4_netmask }}
 description {{ link.desc }}
 bandwidth {{ link.bandwidth }}000
 mtu {{ link.mtu }}
 no shutdown
 negotiation auto
 no mop enabled
 no mop sysid
{% if link.ldp_enabled %} mpls ip{% endif %}{% if link.ospfv2 %}
 ip ospf network {{ link.ospfv2.network_type }}
 ip ospf {{ link.ospfv2.pid }} area {{ link.ospfv2.area_id }}{% endif %}{% endfor %}
!
{% if node.bgp %}
router bgp {{ node.bgp.asn }}
{% if node.bgp.policies %}
{% for policy in node.bgp.policies %}
    template peer-policy {{ policy.policy_name }}
{% if policy.allowas_in %} allowas-in {{ policy.allowas_in }}{% endif %}
{% if policy.as_override %} as-override{% endif %}
{% if policy.as_override_split_horizon %} as-override split-horizon{% endif %}
{% if policy.next_hop_self %} next-hop-self{% endif %}
{% if policy.next_hop_self_all %} next-hop-self all{% endif %}
{% if policy.route_reflector_client %} route_reflector_client{% endif %}
{% if policy.route_map_in %} route_map {{ policy.route_map_in }} in{% endif %}
{% if policy.route_map_out %} route_map {{ policy.route_map_out }} out{% endif %}
{% if policy.send_label %} send-label{% endif %}
{% if policy.send_label_explicit_null %} send-label explicit-null{% endif %}
{% if policy.prefix_list_in %} prefix-list {{ policy.prefix_list_in }} in{% endif %}
{% if policy.weight %} weight {{ policy.weight }} out{% endif %}
{% if policy.soft_reconfiguration  %} soft-reconfiguration inbound{% endif %}
{% if policy.next_hop_unchanged  %} next-hop-unchanged{% endif %}
{% if policy.next_hop_unchanged_allpaths  %} next-hop-unchanged allpaths{% endif %}
{% if policy.maximum_prefix  %} maximum-prefix {{ policy.maximum_prefix }}{% endif %}
{% endfor %}

{% endif %}
{% endif %}
!
line con 0
 exec-timeout 0 0
 logging synchronous

end
wr
